---
const { source, className } = Astro.props;
import { Icon } from 'astro-icon/components';

export interface ISocial {
  name: string;
  icon: string;
  link: string;
}
---

<ul class={className}>
  {
    source.map((social: ISocial) => (
      <li>
        <a
          aria-label={social.name}
          href={social.link}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">{social.name}</span>
          <Icon class="inline-block" name={social.icon} />
        </a>
      </li>
    ))
  }
</ul>
